.hover {
  font-size: 36px;
}
.hover:hover {
  color: #f5deb3;
}
ol {
  list-style: none;
  color: #ff6347;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
/* To Hide the bullets of List */
li {
  color: #f5deb3;
  background-color: #a52a2a;
  padding: 16px;
  margin: 32px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 1px 1px 5px #000000;
  /* box-shadow: Vertical-Right Horizontal-Top Blurrness Color Color-Opacity; */
}
/* #nothing{
  margin-bottom: 36px;
} */
header p {
  margin-bottom: 36px;
}
h2 {
  color: #f0ffff;
}
main p {
  color: #00ffff;
  margin: 12px;
}
