#hover{
    font-size: 48px;
}
#hover:hover{
    color: #f5deb3;
}
.click:active{
    font-size: 36px;
    color: #f0ffff;
}
ol{
    list-style: none;
}
/* To Hide the bullets of List */
/*hibi-ciento.css*/
#ciento{
    display: block;
    background-color: #deb887;
    height: 32px;
    width: auto;
    margin-left: 0%;
    position: relative;
}
#ciento:hover{
    background-color: #87c3de;
}
#ciento:active{
    background-color: #e4e265;
    border-radius: 8px;
}
/*hibi-ciento.css*/