.fuck {
  color: #faebd7;
  font-weight: bold;
  font-size: 52px;
}
.hoe:hover {
  color: #e4e265;
  font-size: 52px;
}
/*ID's are metioned by (#) while class's are mentioned by (.)
Here ID's are unique and can only be used once.
But Class's are common and can be used multiple times*/
