
#fuck{
    color: #faebd7;
    font-weight: bold;
    font-size: 52px;
}
.hoe:hover{
    color: #e4e265;
    font-size: 52px;
}
/*ID's are metioned by (#) while class's are mentioned by (.)
Here ID's are unique and can only be used once.
But Class's are common and can be used multiple times*/
#generate{
    font-size: 48px;
}
#generate:hover{
    color: #e4e265;
}
.generate:active{
    font-size: 36px;
    color: #deb887;
}
/*hibi-ciento.css*/
#ciento{
    display: block;
    background-color: #deb887;
    height: 32px;
    width: auto;
    margin-left: 0%;
    position: relative;
}
#ciento:hover{
    background-color: #87c3de;
}
#ciento:active{
    background-color: #e4e265;
    border-radius: 8px;
}
/*hibi-ciento.css*/