.box {
  text-align: center;
  background-color: #44484c;
  width: 750px;
  margin: 0 auto;
  margin-bottom: .5rem;
  border-radius: 20px;
  border: 1px solid #000000b3;
  box-shadow: 0px 2px 4px #00000033;
}

.indent {
  margin-top: 50px;
  margin-bottom: -64px;
}

.box h1{
  font-size: 34px;
  margin-top: 100px;
  color: #f0ffff;
}

.box p {
  margin: .5rem;
}

img {
  box-shadow: 0px 2px 4px #ccc;
}

span {
  color: #deb887;
}

#contact{
  cursor: pointer;
}
