body{
    background-color: #5f4483;
    margin: 50px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ff7f50;
}
p{
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    color: #e9a371;
}
a{
    text-decoration: none;
    color: #e17df5;
}
a:hover{
    color: #82eed7;
}
/*Hover effect on anchor text*/
img{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*border radius to make the border rounded, margin and display block to push it in center*/
img:active{
    border-radius: 32px;
}
.hover:hover{
    font-size: 36px;
    color: #f0ffff;
}
