body {
  background-color: #22272e;
  margin: 0;
  font-family: cursive;
  color: #f0f8ff;
}

h1 {
  text-align: center;
  color: #ff7f50;
}

p {
  text-align: center;
  color: #e9a371;
}

a {
  text-decoration: none;
  color: #e17df5;
}

a:hover {
  color: #82eed7;
}

/*Hover effect on anchor text*/
img {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*border radius to make the border rounded, margin and display block to push it in center*/
img:active {
  border-radius: 32px;
}

.hover:hover {
  font-size: 36px;
  color: #f0ffff;
}

/*hibi-ciento.css*/
.ciento {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  font-size: 1rem;
  background-color: #292727;
  border-radius: 10px;
}

/*hibi-ciento.css*/
.btn {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color: #33383d;
  width: 6rem;
  display: inline-block;
  border-radius: 1rem;
}

.text-block{
  background-image: url(https://raw.githubusercontent.com/bornmay/bornmay/Update/svg/Bottom.svg);
  text-align: center;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.copy{
  text-align: right;
  position: relative;
  top: 245px;
  margin-right: 1rem;
  border-radius: 10px;
}
