body {
  margin: 3rem;
  font-family: sans-serif;
  text-align: center;
  color: #302f24;
}

section {
  margin: 3rem auto;
  width: 95%;
  max-width: 50rem;
  background-color: #f9fcdf;
  box-shadow: 0 2px 8px #00000033;
  padding: 2rem;
  border-radius: 6px;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #ddd905;
  border: 1px solid #ddd905;
  color:#18180b;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

button:hover {
  background-color: #ddc705;
  border-color: #ddc705;
}

.aoBg{
  background-color: rgb(169, 169, 255);
}
