body{
    font-family: "Quicksand", sans-serif;
}

#page-logo a{
    padding: 10px;
    font-family: "Olio Script", sans-serif;
    color: #ffff00;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul{
    display: flex;
}

header li{
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

header a{
    color: #fffb00;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px #00000033;
    border-radius: 6px;
}

header a:hover{
    color: #4d4d4d;
    background-color: #fffb00;
}