/* line 3, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  transition: .25s;
}

/* line 14, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}

/* line 21, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

@media screen and (max-width: 718px) {
  /* line 21, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options {
    min-width: 520px;
  }
  /* line 36, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options .option:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 638px) {
  /* line 21, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options {
    min-width: 440px;
  }
  /* line 36, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options .option:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 558px) {
  /* line 21, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options {
    min-width: 360px;
  }
  /* line 36, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  /* line 21, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options {
    min-width: 280px;
  }
  /* line 36, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
  body .options .option:nth-child(2) {
    display: none;
  }
}

/* line 42, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}

/* line 59, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}

/* line 63, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
               transform:scale(0.9);
            }*/
}

/* line 72, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

/* line 75, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option.active .label {
  bottom: 20px;
  left: 20px;
}

/* line 78, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}

/* line 87, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}

/* line 91, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

/* line 95, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

/* line 98, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

/* line 104, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* line 114, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

/* line 121, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

/* line 135, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

/* line 145, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

/* line 150, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 154, D:/github/ten/hibi-ciento/assets/sample/flex-card/main.scss */
body .options .option .label .info .sub {
  transition-delay: .1s;
}

/*# sourceMappingURL=main.css.map */